body {
font-family: Arial, sans-serif;
color: #333;
background-color: #dfe2e0ee;
margin: 0;
padding: 0;
line-height: 1.6;
}
header {
background-color: #f8c417;
color: rgb(226, 210, 214);
padding: 20px;
text-align: center;
}

header h1 {
margin: 0;
}

nav a {
color: rgb(12, 3, 3);
text-decoration: none;
margin: 0 10px;
}
nav a:hover {
text-decoration: underline;
}
main {
padding: 20px;
max-width: 800px;
margin: 0 auto;
}
main img {

max-width: 100%;
height: auto;
display: block;
margin: 20px 0;
}
footer {
background-color: #f8c621;
color: rgb(10, 2, 2);
text-align: center;
padding: 10px;
position: fixed;
bottom: 0;
width: 100%;
}
p {
font-size: 1.1em;
}

a {
color: #020c02;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}
img {
border: 5px solid #21f02b;
border-radius: 10px;
}
main a[href^="mailto:"] {
color: rgb(3, 5, 22);
font-weight: bold;
}