body {
font-family: Arial, sans-serif;
color: #333;
background-color: #dfe2e0ee;
margin: 0;
padding: 0;
line-height: 1.6;
}
header {
background-color: #e90c17;
color: rgb(91, 165, 235);
padding: 20px;
text-align: center;

}

header h1 {
     background-color: aqua;
margin: 0;
}

nav a {
color: rgb(12, 3, 3);
text-decoration:  underline;
margin: 0 10px;
}
nav a:hover {
text-decoration: underline;
}
main {

padding: 20px;
max-width: 800px;
margin: 0 auto;
}
main img {
     align-items: center;
max-width: 100%;
height: 200px;
display: block;
margin: 20px 0;
}
footer {
background-color: #a613fcb7;
color: rgb(236, 29, 29);
text-align:center
}
p {
font-size: 1.5em;
}

a {
color: #020c02;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}
img {
border: 5px solid #21f02b;
border-radius: 10px;
  align-items: center;
}
main a[href^="mailto:"] {
color: rgb(3, 5, 22);
font-weight: bold;
}